* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button {
    border:none;
    background-color: rgb(108, 116, 226);
    font-size: 16px;

}
.header{
display: flex;
width:100%;
background-color: lightslategray;
padding-left: 10px;
padding-right: 10px;

}

.header__title{
    width: 100%;
justify-content: flex-start;
font-family: 'Raleway', sans-serif;
}

.header__nav{
    display:flex;
    justify-content: flex-end;
    width:100%;
  
}

.header__nav__list{
    width:20%;
    list-style:none;
    display:flex;
    justify-content: flex-end;  
    justify-content: space-between;
    align-items:center;
   
  
}
.header__nav__list li{


}

.main{

    display: flex;
}
.left-block{
    width: 80%;
}
.left-block__welcome-message{
    
    width:80%;
}
.left-block__post-summary{
   
    margin: 5px;
    padding: 5px;
    width: 80%;
    border: 2px solid lightgrey;
}
.left-block__post-summary__summary-heading{
}
.left-block__post-summary__info{
    display: flex;
    justify-content: space-between;
}
.left-block__post-summary-snippet{
}

.left-block__new-entry{
    display: flex;
    flex-direction:column;

}

.left-block__entry-category{
    font-style:italic;
}
.right-block{
    width: 20%;
    padding-top: 20px; 
   
}
.right-block__add-entry{}
.right-block__title{}
.right-block__categories{}
.right-block__categories__list{
    list-style: none;
}
