* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #333;
    
  
}
body {
    padding: 20px;
}
a:hover, .fa-caret-right:hover {
    color: #d0482a;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    border:none;
    font-size: 16px;
    cursor: pointer;
    background-color: #2aafd0;
    border-radius: 2px;
    height: 40px;
}
button:hover {
    color: white;
}
.header{
display: flex;
width:100%;
background-color: white;
padding-left: 20px;
padding-right: 20px;

}
.header__left {
    width: 60%;
}

.header__title{
    width: 100%;
justify-content: flex-start;
font-family: 'Raleway', sans-serif;
}
.fa-music {
    color: lightgrey;
}

.header__nav{
    display:flex;
    justify-content: flex-end;
    width:40%;
  
}

.header__nav__list{
   width: 30%;
    list-style:none;
    display:flex;
    justify-content: space-between;
   align-items: center;
   font-weight: 400;
   font-size: 13px;

   
  
}
.header__nav__list li{
display: flex;
justify-content: space-between;


}

.main{
    background-color: #FAFAFA;
    display: flex;
    padding: 20px;
    
}
.left-block{
    width: 85%;

}
.left-block__welcome-message{
    
}
.left-block__post-summary{
    margin: 5px;
    padding: 5px;
    width: 80%;
    
    background-color: white;
    /* border: 2px solid lightgrey; */
}
.left-block__post-summary__summary-heading{
    font-weight: 400;
}
.left-block__post-summary__info{
    display: flex;
    justify-content: space-between;
}
.left-block__post-summary-snippet{
}

.left-block__post-summary__view-more {
    font-size: 12px;
}

/* New entry page */

.left-block__new-entry{
    display: flex;
    flex-direction:column;
}

.left-block__new-entry__category{
    font-style:italic;
}

.left-block__new-entry__category-list {
    height: 35px;
    width: 15%;
    font-size: 15px;
    border: 2px solid #2aafd0;
    
}
input[type=text] {
    margin-top: 20px;
    height: 35px;
    width: 30%;
    font-size: 20px;
    border: 2px solid #2aafd0;
    font-weight: 400;

}

.left-block__new-entry__text-body {
    font-size: 16px;
    border: 2px solid #2aafd0;
    padding: 10px;
}

input[type=submit] {
    height: 45px;
    width: 10%;
    font-size: 15px;
    text-align: center;

}








/* Right block */
.right-block{
    width: 15%;
    padding-top: 20px; 
    
    margin-left: 20px;
    text-align: right;
    

   
}
.right-block__add-entry{
    background-color: #2aafd0;
    border-radius: 2px;
    height: 40px;

    
}
.right-block__title{
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    
   
}
.right-block__categories{}
.right-block__categories__list{
    width: -50%;
    list-style: none;
    text-align: right;
    padding: 0;
   
}

.right-block__categories__list li {
    border-bottom: 1px solid #d0482a;
      
}
        
#0F283E      #892016    
#1C425C 
#30616B#892016
#265A76
#6AAFBA

#954F37
#91452C
#914B33
#9D8873

#70203F
#C57155
#892016
#561426
